/*
Credits to Garrick Aden-Buie
https://twitter.com/grrrck/status/1488974783811403776?s=20&t=jWdegKWBazA2nge0Jo8NjQ
*/
.row > main {
  max-width: 75%;
}

@media
 (min-width: 1400px) {
  main + .col-md-3 {
    margin-left: unset;
    padding-left: 5rem;
  }
}
