/*
Check: https://www.w3schools.com/css/css_rwd_mediaqueries.asp
for Responsive Web Design - Media Queries
*/
.row > main {
  max-width: 100%;
}

@media only screen and (min-width: 640px) {
  main + .col-md-3 {
    margin-left: unset;
    padding-left: 5rem;
    max-width: 75%;
  }
}

.navbar-brand {
  font-weight: 300;
  font-size: 1.5rem;
  font-family: 'Kanit', sans-serif;
}

.me-auto {
    color: yellow !important;
}
